
body {
    background-image: url(./Assets/Prize.jpeg);
    background-size: cover;   
    min-width: 390px;
    height: 100vh; 
}   


.nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 390px;
    height: 100vh;
    background-image: url('./Assets/pokemon-party.jpg');
    background-size: cover;

}

.nav__titulo {
    max-height: 80%;
    max-width: 100%;
    margin: 0px auto;
    transform: rotate(30deg);
    animation: shake 2.5s;
    animation-iteration-count: infinite;

    
}

@keyframes shake {
    0% { transform:  rotate(-2deg); }
    10% { transform:  rotate(-1deg); }
    20% { transform:  rotate(0deg); }
    30% { transform:  rotate(1deg); }
    40% { transform:  rotate(2deg); }
    50% { transform:  rotate(3deg); }
    60% { transform:  rotate(2deg); }
    70% { transform:  rotate(1deg); }
    80% { transform:  rotate(0deg); } 
    90% { transform:  rotate(-1deg); }
    100% { transform:  rotate(-2deg); }
  }

  @media (max-width: 768px) {
    .nav__titulo {
        max-height: 80%;
        max-width: 100%;
    }
    
}
  
.title {
    float: left;
    z-index: 1;
    position: absolute;
    font-family: 'Orbitron', 'Poppins';
    font-size:  15px;
    color: white;
    text-decoration: none;
}


.nav__ball{
    height: 100px;
}

.nav__ball:hover {
    transform: scale(1.5);
  }

.ball {
    scroll-behavior: smooth;
  }

